.projectlinkstore
create_bl_files.bat
create_bl_files.py
create_bl_files.sh
federated_learning_BLE_peripheral_cmake/*
!federated_learning_BLE_peripheral_cmake/*.txt
!federated_learning_BLE_peripheral_cmake/*.cmake
!federated_learning_BLE_peripheral_cmake/*.json
image/
simplicity_sdk_2024.6.0/
